#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
#define BASE 0
#define NAV 1
#define NUM 2
#define SYM 3

// Left hand
#define MY_A  &mt LEFT_SHIFT A
#define MY_S  &mt LEFT_CONTROL S
#define MY_D  &mt LEFT_META D
#define MY_F  &mt LEFT_ALT F

#define MY_N1  &mt LEFT_SHIFT N1
#define MY_N2  &mt LEFT_CONTROL N2
#define MY_N3  &mt LEFT_META N3
#define MY_N4  &mt LEFT_ALT N4

#define MY_GRAVE  &mt LEFT_SHIFT GRAVE
#define MY_LBRC  &mt LEFT_CONTROL LBRC
#define MY_LBKT  &mt LEFT_META LBKT
#define MY_LPAR  &mt LEFT_ALT LPAR

// Right hand
#define MY_J  &mt RIGHT_ALT J
#define MY_K  &mt RIGHT_META K
#define MY_L  &mt RIGHT_CONTROL L
#define MY_SEMICOLON  &mt RIGHT_SHIFT SEMICOLON

#define MY_N7  &mt RIGHT_ALT N7
#define MY_N8  &mt RIGHT_META N8
#define MY_N9  &mt RIGHT_CONTROL N9
#define MY_N0  &mt RIGHT_SHIFT N0

#define MY_RPAR  &mt RIGHT_ALT RPAR 
#define MY_RBKT  &mt RIGHT_META RBKT
#define MY_RBRC  &mt RIGHT_CONTROL RBRC
#define MY_SINGLE_QUOTE  &mt RIGHT_SHIFT SINGLE_QUOTE



&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
    global-quick-tap;
};

/ {
  macros {
    write_vim: write_vim{
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp COLON>, <&kp W>, <&kp ENTER>;
    };
    write_quit_vim: write_quit_vim{
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp COLON>, <&kp W>, <&kp Q>, <&kp ENTER>;
    };
    ultrathink: ultrathink {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp U>, <&kp L>, <&kp T>, <&kp R>, <&kp A>, <&kp T>, <&kp H>, <&kp I>, <&kp N>, <&kp K>;
    };
  };
  combos {
      compatible = "zmk,combos";
      combo_esc {
        timeout-ms = <60>;
        key-positions = <0 1>;
        bindings = <&kp ESC>;
      };
      combo_enter {
        timeout-ms = <60>;
        key-positions = <14 15>;
        bindings = <&kp ENTER>;
      };
      combo_write_vim {
        timeout-ms = <60>;
        key-positions = <8 9>;
        bindings = <&write_vim>;
      };
      combo_write_quit_vim {
        timeout-ms = <60>;
        key-positions = <7 8 9>;
        bindings = <&write_quit_vim>;
      };
      combo_caps_lock {
        timeout-ms = <60>;
        key-positions = <21 22 23>;
        bindings = <&caps_word>;
      };
      combo_tab {
        timeout-ms = <60>;
        key-positions = <1 2>;
        bindings = <&kp TAB>;
      };
      combo_ultrathink {
        timeout-ms = <60>;
        key-positions = <5 6 7>;
        bindings = <&ultrathink>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Q  &kp W  &kp E  &kp R    &kp T                               &kp Y          &kp U  &kp I      &kp O     &kp P
        MY_A   MY_S   MY_D   MY_F     &kp G                               &kp H          MY_J   MY_K       MY_L      MY_SEMICOLON
        &kp Z  &kp X  &kp C  &kp V    &kp B                               &kp N          &kp M  &kp COMMA  &kp DOT   &kp SLASH
                             &mo NAV  &kp SPACE                           &kp BACKSPACE  &sl NUM
      >;
    };
    navigation {
      bindings = <
        &none  &none  &none  &none  &none                                 &kp PAGE_UP    &none     &none    &none      &kp DELETE
        &none  &none  &none  &none  &none                                 &kp LEFT &kp DOWN &kp UP &kp RIGHT  &none
        &none  &none  &none  &none  &none                                 &kp PAGE_DOWN  &none     &none     &none      &none
                             &none  &kp SPACE                             &kp BACKSPACE  &sl SYM
      >;
    };
    numbers {
      bindings = <
        &kp F1   &kp F2  &kp F3  &kp F4  &kp F5                           &kp F6        &kp F7  &kp F8  &kp F9  &kp F10
        MY_N1    MY_N2   MY_N3   MY_N4   &kp N5                           &kp N6         MY_N7  MY_N8   MY_N9   MY_N0
        &kp F11  &none   &none   &none   &none                            &none          &none  &none   &none   &kp F12
                              &mo SYM  &kp SPACE                          &kp BACKSPACE  &none
      >;
    };
    symbols {
      bindings = <
        &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PERCENT                &kp CARET      &kp AMPERSAND  &kp STAR  &kp MINUS  &kp EQUAL
        MY_GRAVE  MY_LBRC  MY_LBKT   MY_LPAR   &kp LT                     &kp GT         MY_RPAR        MY_RBKT   MY_RBRC    MY_SINGLE_QUOTE
        &none     &none    &none     &none     &none                      &none          &none          &none     &none      &kp BACKSLASH
                                       &none   &kp SPACE                  &kp BACKSPACE  &none
      >;
    };
  };
}; 




